.DS_Store
obj
bin
packages
AzureBlobStorageRestore/.DS_Store
.vs
AzureBlobStorageRestore/bin
AzureBlobStorageRestore/obj
/.vs
/AzureBlobStorageRestore/bin
/AzureBlobStorageRestore/obj
/AzureBlobStorageSync/bin
/AzureBlobStorageSync/obj
/FileStorageRestore/bin
/FileStorageRestore/obj
/FileStorageSync/bin
/FileStorageSync/obj
/packages
/RemoteStorageHelper/bin
/RemoteStorageHelper/obj
*.user
MigrationBackup
