<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings configSource="connections.config" />
	<appSettings>
		<add key="Container" value="sqlbackup" />
		<add key="CopyFilesToRemoteStorage" value="False" />
		<add key="DatabaseRestoredFilePrefix" value="_ABSR_" />
		<add key="DatabaseRestoredName" value="ABSR_restore_me" />
		<add key="DatabaseRestoredPath" value="D:\Temp" />
		<add key="DatabaseToRestore" value="restore_me" />
		<add key="DebugOverride" value="False" />
		<add key="DebugOverride" value="True" />
		<add key="FetchFilesFromRemoteStorage" value="True" />
		<add key="ItemSortOrder" value="Name" />
		<add key="DumpFile" value="D:\Temp\AzureBlobStorageDumpFile.txt" />
		<add key="DumpFileList" value="False" />
		<add key="LocalPath" value="D:\SQLData\Backup" />
		<add key="RemoteStorage" value="\\server\Share" />
		<add key="RestoreScriptFile" value="D:\Temp\ABSRestore_{%%DATABASE%%}_{%%MASK%%}.sql" />
		<add key="RestoreScriptMask" value="yyyyMMdd_HHmmss" />
		<add key="StopAtEnabled" value="False" />
		<add key="StopAtDateTime" value="20161130_143109" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup></configuration>
