<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings configSource="connections.config" />
	<appSettings>
		<add key="Container" value="sqlbackup" />
		<add key="LocalPath" value="D:\SQLData\Backup" />
		<add key="CopyFilesToAzure" value="False" />
		<add key="DownloadFilesFromAzure" value="True" />
		<add key="DeleteMissingFilesFromAzure" value="True" />
		<add key="DeleteExplicitFilesFromAzure" value="True" />
		<add key="ExplicitFilesToDeleteMatchingString" value="WIN-OS2G5MRT4UH" />
		<add key="DumpFileList" value="True" />
		<add key="DebugOverride" value="True" />
	</appSettings>
</configuration>
