<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings configSource="connections.config" />
	<appSettings>
		<add key="Container" value="sqlbackup" />
		<add key="LocalPath" value="D:\SQLData\Backup" />
		<add key="CopyFilesToRemoteStorage" value="False" />
		<add key="FetchFilesFromRemoteStorage" value="True" />
		<add key="CompressAndEncrypt" value="True" />
		<add key="EncryptOnly" value="False" />
		<add key="FetchExplicitFilesFromRemoteStorage" value="True" />
		<add key="ExplicitFilesToFetchMatchingString" value="fetch_me" />
		<add key="ItemSortOrder" value="Name" />
		<add key="DeleteMissingFilesFromAzure" value="False" />
		<add key="DeleteExplicitFilesFromAzure" value="True" />
		<add key="ExplicitFilesToDeleteMatchingString" value="delete_me" />
		<add key="DumpFileList" value="True" />
		<add key="DebugOverride" value="True" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
