<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings configSource="connections.config"/>
  <appSettings>
    <add key="Container" value="sqlbackup"/>
    <add key="LocalPath" value="C:\SQLData\Backup"/>
    <add key="CopyFilesToRemoteStorage" value="False"/>
    <add key="FetchFilesFromRemoteStorage" value="True"/>
    <add key="CompressAndEncrypt" value="True"/>
    <add key="EncryptOnly" value="False"/>
    <add key="FetchExplicitFilesFromRemoteStorage" value="True"/>
    <add key="ExplicitFilesToFetchMatchingString" value="fetch_me"/>
    <add key="ItemSortOrder" value="Name"/>
    <add key="DeleteMissingFilesFromAzure" value="False"/>
    <add key="DeleteExplicitFilesFromAzure" value="True"/>
    <add key="ExplicitFilesToDeleteMatchingString" value="delete_me"/>
    <add key="DumpFileList" value="True"/>
    <add key="DebugOverride" value="True"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
