<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings configSource="connections.config"/>
  <appSettings>
    <add key="Container" value="sqlbackup"/>
    <add key="CopyFilesToRemoteStorage" value="False"/>
    <add key="FetchFilesFromRemoteStorage" value="True"/>
    <add key="DumpFileList" value="False"/>
    <add key="ItemSortOrder" value="Name"/>
    <add key="DebugOverride" value="True"/>
    <add key="DumpFile" value="C:\Temp\AzureBlobStorageDumpFile.txt"/>
    <add key="DatabaseRestoredName" value="ABSR_restore_me"/>
    <add key="DatabaseRestoredFilePrefix" value="_ABSR_"/>
    <add key="DatabaseRestoredPath" value="C:\Temp"/>
    <add key="DatabaseToRestore" value="restore_me"/>
    <add key="LocalPath" value="C:\SQLData\Backup"/>
    <add key="RestoreScriptFile" value="C:\Temp\ABSRestore_{%%DATABASE%%}_{%%MASK%%}.sql"/>
    <add key="RestoreScriptMask" value="yyyyMMdd_HHmmss"/>
    <add key="StopAtEnabled" value="False"/>
    <add key="StopAtDateTime" value="20190301_143109"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
